<% cache @product do %>
  <div class="container my-4 align-content-center text-center">
    <h1><%= @product.name %></h1>
    <%= @product.description %>
    <%= image_tag @product.featured_image, class: "img-fluid w-50 mb-3" if @product.featured_image.attached? %>
  </div>
<% end %>
<%= render "shared/inventory", product: @product %>
<p>
  <strong><%= t(".created_at") %>:</strong>
  <%= l @product.created_at, format: :long %>
</p>
<%= link_to t(".view_in_storefront"), product_path(@product), class: "btn btn-info" %>
<%= link_to t(".edit"), edit_store_product_path(@product), class: "btn btn-warning" %>
<%= button_to t(".delete"), [ :store, @product ], method: :delete, data: { turbo_confirm: t(".confirm_delete") }, class: "btn btn-danger" %>
<%= link_to t(".back"), store_products_path, class: "btn btn-link" %>