<h1><%= t(".title") %></h1>
<%= form_with model: Current.user, url: settings_password_path do |form| %>
    <% if form.object.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2 class="h4"><%= pluralize(form.object.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :password_challenge, class: "form-label" %>
    <%= form.password_field :password_challenge, required: true, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
  </div>

  <%= form.submit t(".submit"), class: "btn btn-primary mb-2" %>
    <%= link_to t(".cancel"), root_path, class: "btn btn-outline-secondary mb-2" %>
<% end %>