<%= form_with(model: product) do |form| %>
  <%# Display validation errors if any %>
  <% if product.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2 class="h4"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label d-block" %>
    <%= form.rich_text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :featured_image, class: "form-label d-block" %>
    <%= form.file_field :featured_image, accept: "image/*", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :inventory_count, class: "form-label d-block" %>
    <%= form.number_field :inventory_count, class: "form-control", step: "1" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
