<h1><%= t(".title") %></h1>

<%= form_with model: Current.user, url: settings_profile_path do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2 class="h4"><%= pluralize(form.object.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, required: true, autocomplete: "given-name", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, required: true, autocomplete: "family-name", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit t(".submit"), class: "btn btn-primary" %>
    <%= link_to t(".cancel"), root_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
