<%= content_for :content do %>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header fw-bold">
            <%= t(".account_settings") %>
          </div>
          <ul class="list-group list-group-flush">
            <%= link_to t(".profile"), settings_profile_path, class: "list-group-item list-group-item-action #{is_active?(settings_profile_path)}" %>
            <%= link_to t(".email"), settings_email_path, class: "list-group-item list-group-item-action #{is_active?(settings_email_path)}" %>
            <%= link_to t(".password"), settings_password_path, class: "list-group-item list-group-item-action #{is_active?(settings_password_path)}" %>
            <%= link_to t(".account"), settings_user_path, class: "list-group-item list-group-item-action #{is_active?(settings_user_path)}" %>
          </ul>
        </div>

        <% if current_user.admin? %>
          <div class="card">
            <div class="card-header fw-bold">
              <%= t(".store_settings") %>
            </div>
            <ul class="list-group list-group-flush">
              <%= link_to t(".users"), store_users_path, class: "list-group-item list-group-item-action #{is_active?(store_users_path)}" %>
              <%= link_to t(".products"), store_products_path, class: "list-group-item list-group-item-action #{is_active?(store_products_path)}" %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
